//.npmrc
enable-pre-post-scripts=true
package-lock=false
legacy-peer-deps=true
strict-peer-deps=false
axios@^1.6.7
registry=https://registry.npmmirror.com
# 设置一些常用包的镜像
@types:registry=https://registry.npmmirror.com
electron:registry=https://registry.npmmirror.com
node-sass:registry=https://registry.npmmirror.com
